.menu {
    list-style-type: none;
}

.menu li {
    display: inline-block;
    padding-right: 10px;
    font-size: 20px;
    font-weight: bold;
}

.menu li a{
    /*background-color: #f44336;*/
    border: #f44336 solid 1px;
    color: #f44336;
    padding: 10px 20px;
    text-align: center; 
    text-decoration: none;
    display: inline-block
}

.menu li a:hover, .menu li a:active{
    background-color: red;
    color: white;
}

.home {
    margin: auto;
    width: 50%;
    padding: 10px;
    text-align: center;
}

.shop h2{
    padding-left: 40px;
}